{% extends "layout.html" %}

{% block title %}
    Buy Stocks
{% endblock %}

{% block main %}
    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <th>{{name}}</th>
            </tr>
            <tr>
                <th>Symbol</th>
                <th>{{ticker}}</th>
            </tr>
            <tr>
                <th>Price</th>
                <th>{{price}}</th>
            </tr>
			<tr>
                <th>Number of Stocks held</th>
                <th>{{nos}}</th>
            </tr>
        </tbody>

    </table>
    <form action="{{ url_for('sell2',name=name,ticker=ticker,price=price,nos=nos) }}" method="POST">
        <fieldset>
            <div class="form-group">
				<label for="number">Number of stocks to sell </label>
                <input autocomplete="off" autofocus class="form-control" name="number" placeholder="number" value={{nos}} type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Sell</button>
            </div>
        </fieldset>
    </form>
{% endblock %}